{% extends 'index.html' %}
{% block content %}
<div class="card mb-4">
    <img class="card-img-top" src={{object.entry_image}} alt="Card image cap">
    <div class="card-body">
        <h2 class="card-title">{{object.entry_title}}</h2>
        <p class="card-text">{{object.entry_text}}</p>
        {% comment %} <a href="#" class="btn btn-primary">Read More &rarr;</a> {% endcomment %}
    </div>
    <div class="card-footer text-muted">
        Posted on {{object.entry_date}} by
        <a href="#">{{object.entry_author}}</a>
    </div>
</div>
{% endblock %}